<!DOCTYPE html>
<html>
<head>
    <title>WHY HAVE YOU BECOME THIS?!</title>
</head>
<body>
    <img src="<%=@beer.icon%>" />
    <h1><%= @beer.name %></h1>
    <h3><a href="/breweries/<%=@beer.brewery.id%>"><%= @beer.brewery.name %></a></h3>
    <h4><%= @beer.beer_style%> (<%= @beer.short_type%>)</h4>
    <p><%= @beer.blurb %></p>
</body>
</html>